header{
    width: 100%;
    position:absolute;
    display: block;
    top: 25px;
    height: 100px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
}

.logo{
	float: left;
	position: absolute;
	display: inline-block;
	width:12%;
	left: 300px;
}

.nav1,
.navLink{
	float: left;
    position: relative;
    display: inline-block;
    left: 260px;
    text-decoration: none;
	color:#fff;

}

.nav2{
	float: right;
	position: relative;
	right: 100px;

}

ul li{
	display: inline-flex;
    list-style-type: none;
    list-style-image: none;
    margin: 0;

}

li+li{
	margin-left: 15px;
}



a.nav1:hover{
	text-decoration: underline;
	border-bottom-color: #CCAC55;
	border-bottom: 2px solid transparent;
}

.container-nav-main{
	position: absolute;
	display: block;
	width: 100%;


}
